.todo{
    height: 100vh;
    flex-direction: column;
}
.asd{
    background-color: #171923a5;
    width: 40em !important;
    height: 70vh;
    border-radius: 1em;
    padding: 1.5em;


}
.Title{
    margin: 1em 0 .2em;
    font-size: 3.8rem !important;
}