.css-uttm9k {
    justify-content: space-between !important;
    border-radius: 1em !important;
}
.css-1lekzkb {
    gap: 5em;
}

.css-17mg6aq {
    
    border-radius: .1em !important;
    border-color: aqua !important;
    border: 4px solid;
}