body{
    background-color: #29323c !important;
}

.card{
    max-width: 45em !important;
    font-family: sans-serif !important;
    background-color: #14191e !important;
    border-radius: 1em  !important;
    height: 24em !important;
    overflow: auto !important;
        img{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
}

.fav-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px 12.5px 0 0;
}

.fav-icon span{
    font-size: 2.3em !important;
    font-weight: bold;
    background-color: #0c0f12;
    color: rgb(255, 0, 0);
    padding: 0px 11px;
    border-radius: 50%;
    cursor: pointer;
    &:hover{

        color: aqua;
        background-color: rgba(0, 0, 0, 0.475);
    }
}


.row{
    margin-right: 10px !important;
    height: 100% !important;
    flex-wrap: nowrap;
}
.card-title-style{
    margin: 0 10px !important;
}
.card-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5{
        font-size: 1.8rem !important;
        color: aqua;
        font-weight: bold !important;
        letter-spacing: .1rem !important;;
    }
    span{
        font-weight: bold !important;
        font-size: 1.2rem !important;
    }
    strong{
        font-weight: 800 !important;
        font-size: 1.2rem !important;
    }
    small{
        font-size: 1rem !important;
        font-weight: bold !important;
    }
}
.body-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.desc{
    letter-spacing: -0.015em !important;
    background-color: rgba(4, 122, 0, 0.77) ;
    padding: 1rem;
    border-radius: 1em;
    min-height: 9em;
    display: flex;
    max-height: 15em;
    align-items: center;
    font-weight: 700;
    
}
.card-max{
    overflow: auto;
}
.info{
    display: flex;
    margin: .6em 0 0 0 ;
    justify-content: space-between;
    align-items: center;
}
.image-hover{
    overflow:hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    z-index: 1;
    &:hover a{
        visibility: visible;
        margin:0 0 0 0em !important;
        color: rgb(255, 255, 255);
        
    }
    &:hover img{
        transform: scale(1.1) !important;
        opacity: .5;
        cursor: pointer;
    }
    img{
        transition: all 1s ease !important;
        z-index: -1;
    }

    a{
        transition: all .5s ease ;
        opacity: 1 !important;
        position: absolute !important;
        background: black ;
        cursor: pointer;
        border: none;
        padding: 16px 32px;
        color: #fff;
        font-size: 24px !important;
        font-weight: bold;
        position: relative;
        border-radius: 12px; 
        visibility: hidden;
        margin:0 0 20em!important;
        &:hover{
            color: #fff;
            background: #14191e;
            
        }
        &::before{
            content: "";
            position: absolute !important;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,rgb(255, 255, 255),rgb(0, 213, 255),rgba(0, 34, 255, 0.757),rgb(0, 213, 255),rgb(255, 255, 255),rgb(0, 213, 255),rgba(0, 34, 255, 0.757),rgb(0, 213, 255));
            background-size: 800%;
            border-radius: 10px;
            filter: blur(10px);
            animation: glowing 20s linear infinite !important;
        
        }
    }
}


@keyframes glowing{
    0%{
        background-position: 0 0;   
    }
    50%{
        background-position: 400% 0;    
    }
    100%{
        background-position: 0 0;   
    }
}   