footer{
    width:100%;
    background: #0b0b0c;
    position: relative;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 0 !important;
    .Footer_content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em    ;
    }
    .footer-text{
        font-size: 1.25rem;
        font-weight: 700;
    }
    .Icons{
        a{
            margin: .4em .5em;

        }
    }
}
