.presentacion-f{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-f{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: .5em;
    span{
        color: aqua;
    }
}
.subtitulo-f{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: .2em;
    margin-bottom: .8em;

}
.f-item{
    
    
    padding-bottom: 1em;
}
.so{
    background-color: aqua;
}
// .left{
//     width: 30%;
//     height: 53em;
//     background-color: aqua;
//     border-radius: 1em;
//     display: flex;
//     flex-direction: column;
// }
.right{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 40px;
    margin-bottom: 2em;
}